<div class="price_window_colour_small_main_wraper">

	<!-- The background image for the price type  -->
	<img class="print_bg_img_pwcs" src="{{ asset('images/price_templates/Price-Window-Small.jpg') }}" />
	
	<!-- Price -->
	<h1 class="price_window_colour_small_price">{{ entity.getProduct.getCurrentPriceDisplay }}</h1>
	
	<!-- Barcode -->
	{#{{mopa_barcode_url|replace({'{{region_top}}': region_top, '{{region_center}}': region_center})}}#}


	<img class="price_window_colour_small_barcode_image" alt="[barcode]" src="http://localhost:8888/Miles-Apart/web{{ mopa_barcode_url('Ean13', entity.getProduct.getProductBarcode|slice(0,12), {'barcodeOptions': {'barHeight' : 10, drawText : false}, 'rendererOptions': {'width':115, 'height':10}}) }}">

	
</div>
