{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/hr.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'employee_work_week' %}

{# Set the page title #}
{% block title %}
    - Employee Work Week
{% endblock%}

{# Set the page header #}
{% block page_name %}
    - Employee Work Week           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Employee Work Week details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Employee hours worked</th>
                <td>{{ entity.employeehoursworked }}</td>
            </tr>
            <tr>
                <th>Employee minutes worked</th>
                <td>{{ entity.employeeminutesworked }}</td>
            </tr>
            <tr>
                <th>Employee work week date created</th>
                <td>{{ entity.employeeworkweekdatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Employee work week date modified</th>
                <td>{{ entity.employeeworkweekdatemodified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('hr_employee-work-week') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hr_employee-work-week_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
