{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/goodsin.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'stock_location_product_sent' %}

{# Set the page title #}
{% block title %}
    {{ entity.id }} - Stock Location Product Sent
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.id }} - Stock Location Product Sent           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Stock Location Product Sent details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Stock location product sent qty</th>
                <td>{{ entity.stocklocationproductsentqty }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('goods-in_stock-location-product-sent') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('goods-in_stock-location-product-sent_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
