{# src/MilesApart/AdminBundle/Resources/views/Form/fields.html.twig #}
{# Form has failed validation so show correct fiedlds and validation errors #}
{% block form_row %}
	{% spaceless %}
	
	{# Check if the input has an error and therefore failed validation #}
		{% if errors|default([])|length > 0 %}
			
			{# Errors exist so render row with error class #}
			{{ form_label(form) }}
			{{ form_widget(form) }}

			{# Display the error #}
			{#Check if field is recaptcha #}
			{% if form.vars.name == 'recaptcha' %}
				<div style="width:302px">
                    {{ form_errors(form) }}
				</div>
			{% else %}
				{{ form_errors(form) }}
			{% endif %}

		{# There are no errors #}   
		{% else %}

			{# The filed passed validation and is not empty #}
			{% if form.vars.value is not sameas ("") %}
			        {{ form_label(form) }}
			        
			        {{ form_widget(form) }}
			        {{ form_errors(form) }}
			    	
			{% else %}

				{# The filed passed validation as it was not required but is empty  #}
		        {{ form_label(form) }}
		        
		        {{ form_widget(form) }}
		       	{{ form_errors(form) }}
				    	
				
			{% endif %}
		{% endif %}

	{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
        	{% if label_format is defined %}
	            {% if label_format is not empty %}
	                {% set label = label_format|replace({
	                    '%name%': name,
	                    '%id%': id,
	                }) %}
	            {% else %}
	                {% set label = name|humanize %}
	            {% endif %}
	        {% endif %}
        {% endif %}
        {% if errors|default([])|length > 0 %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' error')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    

    {% if errors|default([])|length > 0 %}
        <input type="{{ type }}" {{ block('widget_attributes') }} class="error" {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% else %}
    	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    	
	{% endif %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
	{% if errors|default([])|length > 0 %}
    	<textarea {{ block('widget_attributes') }} class="error">{{ value }}</textarea>
    {% else %}
    	<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endif %}
{% endblock textarea_widget %}

{% block ewz_recaptcha_widget %}
    {% spaceless %}
        {% if form.vars.ewz_recaptcha_enabled %}
            {% if not form.vars.ewz_recaptcha_ajax %}
				<script src="{{ form.vars.url_challenge }}" type="text/javascript"></script>
				<div class="g-recaptcha" data-theme="{{ attr.options.theme }}" data-type="{{ attr.options.type }}" data-sitekey="{{ form.vars.public_key }}"></div>
				<noscript>
					<div style="width: 302px; height: 352px;">
						<div style="width: 302px; height: 352px; position: relative;">
							<div style="width: 302px; height: 352px; position: absolute;">
								<iframe src="https://www.google.com/recaptcha/api/fallback?k={{ form.vars.public_key }}"
										frameborder="0" scrolling="no"
										style="width: 302px; height:352px; border-style: none;"
								>
								</iframe>
							</div>
							<div style="width: 250px; height: 80px; position: absolute; border-style: none; bottom: 21px; left: 25px; margin: 0px; padding: 0px; right: 25px;">
                            <textarea id="g-recaptcha-response" name="g-recaptcha-response"
									  class="g-recaptcha-response"
									  style="width: 250px; height: 80px; border: 1px solid #c1c1c1; margin: 0px; padding: 0px; resize: none;"
							>
                            </textarea>
							</div>
						</div>
					</div>
				</noscript>
            {% else %}
				<div id="ewz_recaptcha_div"></div>

				<script type="text/javascript">
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.onload = function() {
                        Recaptcha.create('{{ form.vars.public_key }}', 'ewz_recaptcha_div', {{ attr.options|default({})|json_encode|raw }});
                    }
                    script.src = '{{ form.vars.url_api }}';
                    document.getElementsByTagName('head')[0].appendChild(script);
				</script>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock ewz_recaptcha_widget %}