{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/finance.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'supplier_invoice_state' %}

{# Set the page title #}
{% block title %}
    {{ entity.supplierinvoicestatename }} - Supplier Invoice State
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.supplierinvoicestatename }} - Supplier Invoice State           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Supplier Invoice State details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Supplier invoice state name</th>
                <td>{{ entity.supplierinvoicestatename }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('finance_supplier-invoice-state') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('finance_supplier-invoice-state_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
