{# src/MilesApart/AdminBundle/Resources/views/Employees/new.html.twig #}
{% extends 'MilesApartAdminBundle::Page/customer.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{# Check if the current page is set, if not set to overview #}
{% if current_page is not defined %}
  {% set current_page = 'new_customer_opt_in' %}
{% endif %}

{# Set the title of the page displayed in the browser #}
{% block title %}
	New Customer Opt In
{% endblock%}

{# Set the header of the page #}
{% block page_name %}
	New Customer Opt In		
{% endblock %}   

{# Set the introduction of the page #}
{% block page_introduction %}
   	Complete the form below to add a new Customer Opt In to the system
{% endblock %}

{% block page_content -%}

    {{ form_start(form) }}
        {{ form_errors(form) }}
          <fieldset>
            <legend class="text-muted">Customer</legend>
            {{ form_row(form.customer) }}
          </fieldset>
          <fieldset>
            <legend class="text-muted">Opt In</legend>
            {{ form_row(form.opt_in) }}
            {{ form_row(form.customer_opt_in_type) }}
          </fieldset>
        {{ form_rest(form) }}
    </form>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer_customer-opt-in') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
