{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/customer.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'customer_opt_in' %}

{# Set the page title #}
{% block title %}
    Customer Opt In
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Customer Opt In           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Customer Opt In details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customer opt in date created</th>
                <td>{{ entity.customeroptindatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Customer opt in date modified</th>
                <td>{{ entity.customeroptindatemodified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Opt in</th>
                <td>{{ entity.optin }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer_customer-opt-in') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer_customer-opt-in_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
