{# src/MilesApart/StaffBundle/Resources/views/Products/view_stockouts.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{#Set active page for interface highlighting #}
{% set active_page = 'products' %}
{% set current_page = 'process_returns' %}

{% block page_name %}
    Process returns
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}


	{{ form_start(form) }}
        {{ form_errors(form) }}

        {# Create and show the add product to seasonal storage box type #}
        <fieldset>
            {{ form_row(form.product_barcode) }}
            {{ form_row(form.product_name) }}

        </fieldset>
        <fieldset>
            {{ form_row(form.submit) }}
        </fieldset>    
        
        {{ form_rest(form) }}
    
    {{ form_end(form) }}

    <div id="found_products_display"></div>


    <div id="add_to_transfer_request">
        <div id="loadingImage" style="display: none"></div>
    </div>
    <div class="border-top"></div>
    <div class="row">
        <div class="col-md-10 col-xs-9">
            <h3>Returned Products</h3>
        </div>
        <div class="col-md-2 col-xs-3">
            <a class="btn btn-default col-md-12 col-xs-12 success-colour" href="" role="button">
                <span class="glyphicon glyphicon-export"></span> <span class="hide_on_xs">Request credit</span> 
            </a>
        </div>
    </div>
    {# Set up the existing products table #}
    <table class="table table-striped small existing_products" id="existing_seasonal_storage_box_products">
        <thead>
            <tr>
                <th>Product name</th>
                <th class="hide_on_xs">Price</th>
                <th>Qty</th>
                <th>Product Code</th>
                <th class="hide_on_xs">Barcode</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>



{% endblock %}

{% block javascripts %}
     
    <script>
        function onScanAppBarCodeData(bar,t,sid)
        {
            //'bar' is the retrieved Barcode
            //The below function will set the form field
            //named 'barcode' to the value of 'bar'
            $('#milesapart_staffbundle_addproducttoseasonalstoragebox_product_barcode').val(bar);

            //Submit the form
            processSeasonalStorageBoxAdd();

            return false;
        }

        if($(window).width() > 769) {

            $('#milesapart_staffbundle_addproducttoseasonalstoragebox_product_barcode').focus();
        }
    </script>
{% endblock %}