{# src/MilesApart/StaffBundle/Resources/views/Pickpack/pick.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'pickpack' %}
{% set current_page = 'view_shipments' %}

{% block page_name %}
    View Royal Mail Shipments
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
	
		{% if shipments|default([])|length > 0 %}
			<table class="table table-striped text-center">
		    <thead>
		        <tr>
		           	<th width="10%" class="text-center">ID</th>
					<th width="50%">Recipient</th>
					<th width="15%" class="text-center">Status</th>
					<th width="10%" class="text-center">Date Created</th>
					
		        </tr>
		    </thead>
		    <tbody>
					
					{% for shipment in shipments %}
						<tr>
							<td class="text-center"><a href="{{ path('staff-royalmail_view-shipment-details', {'shipment_id': shipment.getId()}) }}">{{ shipment.customerorder.id }}</a></td>
							<td class="text-left">{{ shipment.customerorder.customerorderfullname }}</td>
							<td>
								{% if shipment.royalmailshipmentstate.id == 1 or shipment.royalmailshipmentstate.id == 2 %}
									<span class="label label-info">{{ shipment.royalmailshipmentstate.royalmailshipmentstate }}</span>
								{% endif %}

								{% if shipment.royalmailshipmentstate.id == 3  %}
									<span class="label label-success">{{ shipment.royalmailshipmentstate.royalmailshipmentstate }}</span>
								{% endif %}

								{% if shipment.royalmailshipmentstate.id == 4 or shipment.royalmailshipmentstate.id == 5 %}
									<span class="label label-warning">{{ shipment.royalmailshipmentstate.royalmailshipmentstate }}</span>
								{% endif %}

								{% if shipment.royalmailshipmentstate.id == 6  %}
									<span class="label label-danger">{{ shipment.royalmailshipmentstate.royalmailshipmentstate }}</span>
								{% endif %}
							</td>
							<td>{{ shipment.royalmailshipmentdatecreated|date('d/m/Y')}}

							
						</tr>
					{% endfor %}

					

				</tbody>
			</table>
		{% else %}
			<h4>There are no outstanding shipments</h4>
		{% endif %}
		</div>
	</div>

{% endblock %}