{# src/MilesApart/AdminBundle/Resources/views/Employees/new.html.twig #}
{% extends 'MilesApartAdminBundle::Page/campaign.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{# Check if the current page is set, if not set to overview #}
{% if current_page is not defined %}
  {% set current_page = 'new_marketing_email_send_list' %}
{% endif %}

{# Set the title of the page displayed in the browser #}
{% block title %}
	New Marketing Email Send List
{% endblock%}

{# Set the header of the page #}
{% block page_name %}
	New Marketing Email Send List		
{% endblock %}   

{# Set the introduction of the page #}
{% block page_introduction %}
   	Complete the form below to add a new Marketing Email Send List to the system
{% endblock %}

{% block page_content -%}

    {{ form_start(form) }}
        {{ form_errors(form) }}
         <fieldset>
            <legend class="text-muted">Marketing Email</legend>
            {{ form_row(form.marketing_email) }}
          </fieldset>
          <fieldset>
            <legend class="text-muted">Send List</legend>
            {{ form_row(form.email_send_list) }}
            </fieldset>
        {{ form_rest(form) }}
    </form>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('campaign_marketing-email-send-list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
