
{# Current category name #}
<h1>{{ category.categoryname }}</h1>
{# Check if the category description and image need to be displayed #}
{% if category.categorydescriptiondisplay == 1 %}
    <p class="lead">{{ category.categorydescription }}</p>
{% endif %}

{# Check the level of categories to be displayed #}
{% if level == 0 %}
    <div class="row">
        {% for cat in category %}
        
            <div class="small-6 medium-4 large-3 columns text-center shop_category_thumb left">
                <a href="{{ path('miles_apart_public_shop', {'main_category': cat.categoryslug }) }}">
                    <img class="large-12" src="{{ asset('images/categories/')~cat.categoryimagepath }}" class="product_thumbnail_image" alt="{{ cat.categoryname}}" />
                </a>
                <div class="caption">
                    <h4 class="thumbnail_product_name"><a href="{{ path('miles_apart_public_shop', {'main_category': cat.categoryslug }) }}">{{ cat.categoryname }}</a></h4>
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endif %}

{% if level == 1 %}
    <div class="row">
        {% for subcategory in category.children %}
        
            <div class="small-6 medium-4 large-3 columns text-center shop_category_thumb left">
                <a href="{{ path('miles_apart_public_shop', {'sub_category': subcategory.categoryslug, 'main_category': category.categoryslug }) }}">
                    <img class="large-12" src="{{ asset('images/categories/')~subcategory.categoryimagepath }}" class="product_thumbnail_image" alt="{{ subcategory.categoryname}}" />
                </a>
                <div class="caption">
                    <h4 class="thumbnail_product_name"><a href="{{ path('miles_apart_public_shop', {'sub_category': subcategory.categoryslug, 'main_category': category.categoryslug }) }}">{{ subcategory.categoryname }}</a></h4>
                </div>
            </div>
        
        {% endfor %}
    </div>
{% endif %}

{% if level == 2 %}
    <div class="row">
        {% for specifccategory in category.children %}
            <div class="small-6 medium-4 large-3 columns text-center shop_category_thumb left">
                <a href="{{ path('miles_apart_public_shop', {'specific_category': specifccategory.categoryslug, 'sub_category': category.categoryslug, 'main_category': category.parent.categoryslug }) }}">
                    <img class="large-12" src="{{ asset('images/categories/')~specifccategory.categoryimagepath }}" alt="{{ specifccategory.categoryname}}"  />
                </a>
                <div class="caption">
                    <h4 class="thumbnail_category_name"><a href="{{ path('miles_apart_public_shop', {'specific_category': specifccategory.categoryslug, 'sub_category': category.categoryslug, 'main_category': category.parent.categoryslug }) }}">{{ specifccategory.categoryname }}</a></h4>
                </div>
            </div>
       
        {% endfor %}
    </div>
{% endif %}
