{# src/MilesApart/PublicBundle/Resources/views/Shop/product_review_page.html.twig #}
{% extends 'MilesApartPublicBundle::product_page_layout.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme review_form 'MilesApartPublicBundle:Form:fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme review_form 'MilesApartPublicBundle:Form:submitted_fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% endif %}

{% block page_title %}
    {{ entity.producttitle }}   
{% endblock %}

{% block page_content %}
 
    {# Create the row for two columns #}
    <div class="row">

        {# Right column content (price and add to cart button) #}
        <div class="large-8 columns">
            <!--Info box area placeholder for success/failure messages  (flash messages) -->
            {% for flashMessage in app.session.flashbag.get('public-error') %}
                <div class="flashbag">
                    <div data-alert class="alert-box alert radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}

            {# Flash message for success #}
            {% for flashMessage in app.session.flashbag.get('public-success') %}
                <div class="flashbag">
                    <div data-alert class="alert-box success radius">
                        {{ flashMessage }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            {% endfor %}
            {# Show the mobile images area #}
            <div class="row hide-for-large-up">
                <div class="small-12 columns">
                    <div id="mobile-product-images" class="owl-carousel owl-theme">
                        {% for image in entity.productimage %}
                            {% if image.productimageismain == 1 %} 
                                <div class="item">
                                    <img src="{{ asset('images/products/')~image.productimagepath }}" alt="{{ image.productimagedescription}}" class="large-12">
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% for image in entity.productimage %}
                            {% if image.productimagewebdisplay == true and image.productimageismain == false %}
                                <div class="item">
                                    <img src="{{ asset('images/products/')~image.productimagepath }}" alt="{{ image.productimagedescription}}" class="large-12">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>      

            {# Product name and code #}
            <h1 class="product_page_product_name">Review Product: {{ entity.productmarketingname }}</h1>
            <h2 class="subheader product_page_product_subheader">{{ entity.productmarketingsubname }}</h2>

            <div class="row">
                <div class="medium-10 medium-offset-1 columns">

                    {# Form to leave a review #}
                    {{ form_start(review_form) }}
                    {{ form_errors(review_form) }}

                    {# Create and show the new admin user type #}
                    {{ form_row(review_form.product) }}

                    <div>
                        {{ form_row(review_form.product_review_name) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please enter your name</small>
                        </div>
                    </div>

                    <div>
                        {{ form_row(review_form.product_review_email) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please enter your email address</small>
                        </div>
                    </div>

                    <div>
                        {{ form_row(review_form.product_review_title) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please enter a title for your review</small>
                        </div>
                    </div>

                    <div>
                        {{ form_row(review_form.product_review_rating) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please enter your rating (out of 5)</small>
                        </div>
                    </div>

                    <div>
                        {{ form_row(review_form.product_review_content) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please enter your review</small>
                        </div>
                    </div>

                    <div>
                        {{ form_row(review_form.recaptcha) }}
                        <div class="{% if submitted == true %}hidden{% endif %}">
                            <small class="error">Please check the reCaptcha</small>
                        </div>
                    </div>


                    <div style="margin-top:1rem">
                        {{ form_row(review_form.submit) }}
                    </div>
                    {{ form_rest(review_form) }}

                    {{ form_end(review_form) }}
                </div>
            </div>


        </div>

        <div class="large-4 columns">

            

            {# Show the images #}
            {# Images wrapper #}
            <div class="row show-for-large-up">
                
                {# Check if there is only one image for the product, if so, show this large #}
                {% if entity.productimage|length == 1 %}
                    
                    {% for image in entity.productimage %}
                        <div class="large-10 columns">
                            <div id="loadingDiv" class="large-10 columns">
                                <img src="{{ asset('images/icons/ajax-loader.gif') }}" />
                            </div>


                            <div class="large-12" id="product_display_page_image_wrapper">
                                {# Set up lightbox #}
                                <ul class="clearing-thumbs clearing-feature" data-clearing>
                                    <li class="clearing-featured-img">
                                        <a href="{{ asset('images/products/')~image.productimagepath }}">
                                            <img src="{{ asset('images/products/')~image.productimagepath }}" alt="{{ image.productimagedescription}}" class="col-sm-4 col-md-4 col-xs-6 col-lg-9" id="product_page_main_image" data-existing-id="{{ image.id }}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}

                     <div class="large-10 columns">
                        <div id="loadingDiv" class="medium-10 columns">
                            <img src="{{ asset('images/icons/ajax-loader.gif') }}" />
                        </div>

                        <div class="large-12" id="product_display_page_image_wrapper">
                            {# Set up lightbox #}
                            <ul class="clearing-thumbs clearing-feature" data-clearing>

                                {% for image in entity.productimage %}
                        
                           
                                    <li {% if image.productimageismain == 1 %} class="clearing-featured-img" {% endif %} id="list_image_{{ image.id }}">
                                        <a href="{{ asset('images/products/')~image.productimagepath }}" data-existing-id="{{ image.id }}">

                                            <img src="{{ asset('images/products/')~image.productimagepath }}" alt="{{ image.productimagedescription}}" class="col-sm-4 col-md-4 col-xs-6 col-lg-9">

                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                            
                        
                    
                {% endif %}
                     
                {# Show the thumbnails #}       
                {% for image in entity.productimage %}
                    {% if image.productimagewebdisplay == true %}
                        <div class="large-2 columns">
                            <a href="#" class="product_page_product_thumbnail" id="{{ image.id }}" data-path="{{ asset('images/products/')~image.productimagepath }}">
                                <img src="{{ asset('images/products/')~image.productimagepath }}" alt="{{ image.productimagedescription}}" class="product_page_thumb_image col-sm-4 col-md-4 col-xs-6 col-lg-3">
                            </a>
                        </div>

                    {% endif %}
                        
                        
                {% endfor %}
            
            {# End of the product images div #}
            </div>

        </div>
    </div>
    {# Create the row for two columns #}
    <div class="row">

        {# Right column content (price and add to cart button) #}
        <div class="large-8 columns">
            <h6 class="small"><b>Please note the following when leaving a review:</b></h6>


                <ol class="small">
                    <li>If you would like you review to show 'Confirmed Purchase' please log in and review a product you have previosly purchased from us or click the link in your shippin confirmation email.</li>
                </ol>

            <p class="small">Thank you for taking the time to write a review, it really helps make our site a better place to shop.</p>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(".product_page_product_thumbnail").click(function() {
        //Check that the image is not already shown
        var thumbnailId = $( this ).attr('id');
        var imageId = $(".clearing-featured-img").attr("id");
        imageId = imageId.replace ( /[^\d.]/g, '' );
        //If the clearing featured image is equal to the thumbnail id


        if(imageId != thumbnailId) {

            //Get the id of the main image currently being shown.
            var main_image_id = "#list_image_"+imageId;

            $(main_image_id).removeClass('clearing-featured-img');
            $(main_image_id).fadeOut(600);

            //changeProductPageProductImage(path, id);

            //Make new image display.
            var to_display_image = "#list_image_"+thumbnailId;
            $(to_display_image).addClass('clearing-featured-img');
            $(to_display_image).fadeIn(600);
            $(document).foundation('clearing', 'reflow');
        }
        return false;

    });
</script>

{% endblock %}
