{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/campaign.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'hidden_url' %}

{# Set the page title #}
{% block title %}
    - Hidden URL
{% endblock%}

{# Set the page header #}
{% block page_name %}
    - Hidden URL           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Hidden URL details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Hidden url landing page</th>
                <td>{{ entity.hiddenurllandingpage }}</td>
            </tr>
            <tr>
                <th>Hidden url date created</th>
                <td>{{ entity.hiddenurldatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campaign_hidden-url') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campaign_hidden-url_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
