{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/finance.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'daily_take_business_premises_shop_department' %}

{# Set the page title #}
{% block title %}
     Daily Take Business Premises Shop Department
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Daily Take Business Premises Shop Department          
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Daily Take Business Premises Shop Department details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Shop department value</th>
                <td>{{ entity.shopdepartmentvalue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('finance_daily-take-business-premises-shop-department') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('finance_daily-take-business-premises-shop-department_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
