{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/customerorder.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'customer_order' %}

{# Set the page title #}
{% block title %}
    {{ entity.id }} - Customer Order
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.id }} - Customer Order           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Customer Order details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customer order date created</th>
                <td>{{ entity.customerorderdatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Customer order date modified</th>
                <td>{{ entity.customerorderdatemodified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Session id</th>
                <td>{{ entity.sessionid }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer-order_customer-order') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer-order_customer-order_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
