{# app/Resources/views/print_base.html.twig 

This is the foundation page for all other PRINT pages on the site #}
<!DOCTYPE html>
<html lang="en">
    <!--Create the document head-->
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />

        {# Create generic header #}
        <title>{% block title %} Thousands of things for your hobbies, garden and home {% endblock %} | Miles Apart | Amesbury &amp; Westbury, Wiltshire</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        
            <script src="{{ asset('js/jquery-1.11.1.js') }}" type="text/javascript"></script>
        {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>#}
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
            <link href="{{ asset('css/screen.css') }}" rel="stylesheet" media="all" />
            <link href="{{ asset('css/staff_styles.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/print_styles.css') }}" type="text/css" rel="stylesheet" />
            
        {# Include stylesheets #}
        {% block stylesheets %}
        {% endblock %}

    </head>
    
    <body>
        <div class="container admin_layout_grid" style="min-height:1430px">
                <!--Row for page introduction-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            {% block page_header %}
                                <h1>{% block page_name %}{% endblock %}</h1>
                                <h3 class="text-muted">{% block page_introduction %}{% endblock %}</h3>
                            {% endblock %}
                        </div>
                    </div>
                </div>



                <!--Row for main page content-->
                <div class="row">

                    
                    <div class="col-md-12">
                        <div class="main-col">

                            <!--Page lead content-->
                            {% block page_lead %}{% endblock %}
                            
                
                            <!--Dynamic content of main content area-->
                            {% block print_page_content %}{% endblock %}
                            
                            {% block pagination_links %}{% endblock %}

                        </div>
                    </div>
                    
                </div>
           

        
        
         </div>
        <!--Close the main page wrap-->
        </div>
        {% block print_page_footer %}
            <!--Create the footer-->
            <div id="page_footer">
                <div style="border-top:4px solid #7f7f7f;"></div>
                <p class="text-center" style="font-size:22px;margin-top:10px">Miles Apart</p>
                <p class="text-center" style="font-size:18px">Westcroft, Boscombe Village, Salisbury, Wiltshire, SP4 0AB</p>
                <p class="text-center" style="font-size:16px;margin-bottom:0px">VAT Number: 132 7800 31</p>
            </div>
        {% endblock %}
    </body>
</html>


