{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/product.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'product_transfer_request' %}

{# Set the page title #}
{% block title %}
    {{ entity.id }} - Product Transfer Request
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.id }} - Product Transfer Request           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Product Transfer Request details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Product transfer request qty</th>
                <td>{{ entity.producttransferrequestqty }}</td>
            </tr>
            <tr>
                <th>Product transfer request date created</th>
                <td>{{ entity.producttransferrequestdatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Product transfer request date modified</th>
                <td>{{ entity.producttransferrequestdatemodified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_product-transfer-request') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_product-transfer-request_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
