{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/product.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'attribute' %}

{# Set the page title #}
{% block title %}
    {{ entity.attributename }} - Attribute
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.attributename }} - Attribute         
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View attribute details
{% endblock %}

{% block page_content -%}

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Attribute name</th>
                <td>{{ entity.attributename }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_attribute') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_attribute_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
