{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/finance.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'expenses_company' %}

{# Set the page title #}
{% block title %}
     Expenses Company
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Expenses Company           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Expenses Company details
{% endblock %}

{% block page_content -%}


    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Expenses company name</th>
                <td>{{ entity.expensescompanyname }}</td>
            </tr>
            <tr>
                <th>Expenses company vat number</th>
                <td>{{ entity.expensescompanyvatnumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('finance_expenses-company') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('finance_expenses-company_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
