{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == true %}
    {% form_theme form 'MilesApartPublicBundle:Form:submitted_fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartPublicBundle:Form:fields.html.twig' 'MilesApartPublicBundle:Form:field_errors.html.twig' %}
{% endif %}

{% if submitted == true %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
{% else %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" data-abide>
{% endif %}

    {{ form_start(form) }}

        {% if form_errors(form)|default([])|length > 5 %}
            <div data-alert class="alert-box alert radius">
                Sorry, there has been a problem with your registration. Please check the fields highlighted red.
                <a href="#" class="close">&times;</a>
            </div>
        {%  endif %}

        {# Business customer button #}
        {{ form_row(form.is_customer_business) }}
        {#<input type="checkbox" id="business_customer_toggle" {% if form.business_customer_representative.business_customer.business_customer_name.vars.value != "" or form.business_customer_representative.business_customer.business_customer_name.vars.value != null %} checked {% endif %} />#}
        <label for="fos_user_registration_form_is_customer_business">Are you a business customer?</label>
        <p class="form_subtext">Please check this box if you are a representative for business, school, charity or other organisation.</p>


            {# Personal customer form elements #}
            <div class="personal_customer_form">

           		<div class="row">
           			<div class="large-6 columns">
                        <div>
                            {{ form_row(form.personal_customer.personal_customer_first_name) }}
                            <div class="{% if submitted == true %}hidden{% endif %}">
                                <small class="error">Please enter your first name</small>
                            </div>
                        </div>
                	</div>
                	<div class="large-6 columns">
                        <div>
                            {{ form_row(form.personal_customer.personal_customer_surname) }}
                            <div class="{% if submitted == true %}hidden{% endif %}">
                                <small class="error">Please enter your surname</small>
                            </div>
                        </div>
                	</div>
                </div>

            </div>

            {# Business customer representative form elements #}

            <div class="business_customer_representative_form">
                <div>
                    {{ form_row(form.business_customer_representative.business_customer.business_customer_name) }}
                    <div class="{% if submitted == true %}hidden{% endif %}">
                        <small class="error">Please enter your business name</small>
                    </div>
                </div>

                <div class="row">


                    <div class="large-6 columns">
                        <div>
                            {{ form_row(form.business_customer_representative.business_customer_representative_first_name) }}
                            <div class="{% if submitted == true %}hidden{% endif %}">
                                <small class="error">Please enter your first name</small>
                            </div>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div>
                            {{ form_row(form.business_customer_representative.business_customer_representative_surname) }}
                            <div class="{% if submitted == true %}hidden{% endif %}">
                                <small class="error">Please enter your surname</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        <div>
            {{ form_row(form.email) }}
            <div class="{% if submitted == true %}hidden{% endif %}">
                <small class="error">Please enter your email address</small>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <div>
                    {{ form_row(form.plainPassword.first) }}
                    <div class="{% if submitted == true %}hidden{% endif %}">
                        <small class="error">Please enter your password</small>
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <div>
                    {{ form_row(form.plainPassword.second) }}
                    <div class="{% if submitted == true %}hidden{% endif %}">
                        <small class="error">Please enter same password</small>
                    </div>
                </div>
            </div>

        </div>


            {# Personal customer form elements #}
            <div class="personal_customer_form">
                {# Show the opts #}


            	<div class="row">
                	<div class="large-12 columns">
        				<label><b>Contact Options</b></label>
        				<div class="row">
        					<div class="large-3 columns">
        						{{ form_widget(form.personal_customer.personal_customer_email_opt_in) }}<label for="fos_user_registration_form_personal_customer_email_opt_in">Email</label>
        					</div>
        					<div class="large-3 columns">
        						{{ form_widget(form.personal_customer.personal_customer_phone_opt_in) }}<label for="checkbox2">Phone</label>
        					</div>
        					<div class="large-3 columns">
        						{{ form_widget(form.personal_customer.personal_customer_text_opt_in) }}<label for="checkbox3">Text</label>
        					</div>
        					<div class="large-3 columns">
        						{{ form_widget(form.personal_customer.personal_customer_post_opt_in) }}<label for="checkbox4">Post</label>
        					</div>
        				</div>
        		    </div>
        		</div>

        		<p class="form_subtext">Please select the methods to which we are able to contact you. If you leave unchecked we will still contact you regarding purchases you have made or if there are any problems with your account.</p>

                <div class="row">
                    <div class="large-12 columns">
                        <label><b>Terms & Conditions</b></label>

                        <div class="row">
                            <div class="small-1 columns">
                                {{ form_widget(form.personal_customer.personal_customer_terms_agreed) }}
                            </div>

                            <div class="small-11 columns">
                                <label for="checkbox_terms" class="bottom_label"><label>I have read and agree to the <a href="{{ path('miles_apart_public_terms_and_conditions') }}">terms</a> and <a href="{{ path('miles_apart_public_privacy_and_cookie_policy') }}">privacy policy</a>.</label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            {# Business customer representative form elements #}
            <div class="business_customer_representative_form">
                {# Show the opts #}


                <div class="row">
                    <div class="large-12 columns">
                        <label><b>Contact Options</b></label>
                        <div class="row">
                            <div class="large-3 columns">
                                {{ form_widget(form.business_customer_representative.business_customer_representative_email_opt_in) }}<label for="fos_user_registration_form_personal_customer_email_opt_in">Email</label>
                            </div>
                            <div class="large-3 columns">
                                {{ form_widget(form.business_customer_representative.business_customer_representative_phone_opt_in) }}<label for="checkbox2">Phone</label>
                            </div>
                            <div class="large-3 columns">
                                {{ form_widget(form.business_customer_representative.business_customer_representative_text_opt_in) }}<label for="checkbox3">Text</label>
                            </div>
                            <div class="large-3 columns">
                                {{ form_widget(form.business_customer_representative.business_customer_representative_post_opt_in) }}<label for="checkbox4">Post</label>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="form_subtext">Please select the methods to which we are able to contact you. If you leave unchecked we will still contact you regarding purchases you have made or if there are any problems with your account.</p>

                <div class="row">
                    <div class="large-12 columns">
                        <label><b>Terms & Conditions</b></label>

                        <div class="row">
                            <div class="small-1 columns">
                                {{ form_widget(form.business_customer_representative.business_customer_representative_terms_agreed) }}
                            </div>
                            <div class="small-11 columns">
                                <label class="bottom_label" for="fos_user_registration_form_personal_customer_personal_customer_terms_agreed">I have read and agree to the <a href="{{ path('miles_apart_public_terms_and_conditions') }}">terms</a> and <a href="{{ path('miles_apart_public_privacy_and_cookie_policy') }}">privacy policy</a>.</label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        <div style="margin-bottom:1rem">
            <div>
                {{ form_row(form.recaptcha) }}
            </div>
        </div>
        {{ form_rest(form) }}
        
        <div class="clearfix"></div>
        <input type="submit" class="button small-12 " value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
   
    {{ form_end(form) }}


    

    <p class="form_subtext">* Your details will be stored in an industry standard User Management system</p>
</form>

