{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/finance.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'daily_take_business_premises_petty_cash' %}

{# Set the page title #}
{% block title %}
    Daily Take Business Premises Petty Cash   
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Daily Take Business Premises Petty Cash          
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Daily Take Business Premises Petty Cash details
{% endblock %}

{% block page_content -%}


    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Petty_cash_value</th>
                <td>{{ entity.pettycashvalue }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('finance_daily-take-business-premises-petty-cash') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('finance_daily-take-business-premises-petty-cash_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
