{# src/MilesApart/AdminBundle/Resources/views/Employees/new.html.twig #}
{% extends 'MilesApartAdminBundle::Page/business.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{# Check if the current page is set, if not set to overview #}
{% if current_page is not defined %}
  {% set current_page = 'new_stocktake_product' %}
{% endif %}

{# Set the title of the page displayed in the browser #}
{% block title %}
	New Stocktake Product
{% endblock%}

{# Set the header of the page #}
{% block page_name %}
	New Stocktake Product		
{% endblock %}   

{# Set the introduction of the page #}
{% block page_introduction %}
   	Complete the form below to add a new Stocktake Product to the system
{% endblock %}

{% block page_content -%}

    {{ form_start(form) }}
        {{ form_errors(form) }}
         <fieldset>
            <legend class="text-muted">Name</legend>
            {{ form_row(form.stocktake_product_qty) }}
            {{ form_row(form.stocktake) }}
            {{ form_row(form.product) }}
            {{ form_row(form.stock_location) }}
            </fieldset>
        {{ form_rest(form) }}
    </form>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('business_stocktake-product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
