{# src/MilesApart/AdminBundle/Resources/views/AccessRight/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/webmanagement.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'access_rights' %}

{# Set the page title #}
{% block title %}
    {{ entity.accessrightaction }} - Access Right
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.accessrightaction }} - Access Right      
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View access right details
{% endblock %}

{# Set the dynamic content #}
{% block page_content -%}
<h2>{{ entity.accessrightaction }}</h2>

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Access right action</th>
                <td>{{ entity.accessrightaction }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('website-management_access-right') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('website-management_access-right_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
