{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/hr.html.twig' %}

# Set  current page for interface highlighting #}
{% set current_page = 'all_employees' %}

{# Set the page title #}
{% block title %}
    Show Employee
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Show Employee           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View employee details
{% endblock %}

{% block page_content -%}

{# Create sub page header row #}
    <div class="row">
        {#C reate column for left sub page header content #}
        <div class="col-md-9">
            
            {# Left sub page header content #}
            

    <h1>ProductPrice</h1>

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Product_price_valid_from</th>
                <td>{{ entity.productpricevalidfrom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Product_price_valid_until</th>
                <td>{{ entity.productpricevaliduntil|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Product_price_value</th>
                <td>{{ entity.productpricevalue }}</td>
            </tr>
            <tr>
                <th>Product_price_is_special</th>
                <td>{{ entity.productpriceisspecial }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_product-price') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_product-price_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
