{# src/MilesApart/StaffBundle/Resources/views/Suppliers/find_supplier.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{#Set active page for interface highlighting #}
{% set active_page = 'suppliers' %}
{% set current_page = 'find_supplier' %}


{# Set the dynamic content for this template #}
{% block page_name %}
    Find supplier
{% endblock %}

{% block page_content %}
    
    {# Create the form to find supplier #}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {# Create and show the new admin user type #}
        <fieldset>
            <legend class="text-muted">Supplier name</legend>
            {{ form_row(form.supplier_name) }}
        </fieldset> 
        
        {{ form_rest(form) }}
    
    {{ form_end(form) }}

    

    <div id="suppliers_table">

    	<h3>{{ supplier_count }} Total suppliers</h3>

    	<div id="suppliers_big_table">
		    {# Create table for suppliers #}
		    <table class="table table-striped text-center">
		        <thead>
		            <tr class="text-center">
		                <th class="text-left">Supplier name</th>
		                <th class="text-center">Account number</th>
		                <th class="text-center">Phone</th>
		                <th class="text-center">Fax</th>
		                <th class="text-center">Email</th>
		                <th class="text-center">Actions</th>
		            </tr>
		        </thead>
		        <tbody>
		        

		    	{% for entity in entities %}
		    		<tr>
		    			<td class="text-left">
		    				<a href="{{ path('staff-suppliers_view-supplier', {'id': entity.getId()}) }}">
		    					{{ entity.getSupplierName() }}
		    				</a>
		    			</td>
		    			<td>
		    				{{ entity.getSupplierAccountNumber() }}
		    			</td>
		    			<td>
		    				<a href="tel:{{ entity.getSupplierPhone() }}">
		    					{{ entity.getSupplierPhone() }}
		    				</a>
		    			</td>
		    			<td>
		    				{{ entity.getSupplierFax() }}
		    			</td>

		    			{% if entity.getSupplierOrderingEmail != null %}
		                    {% set sendMail = entity.getSupplierOrderingEmail() %}
		    			{% else %}
		                    {% set sendMail = entity.getSupplierInfoEmail() %}
		    			{% endif %}
		    			
		                <td>
		                    <a href="mailto:{{ sendMail }}">{{ sendMail }}</a>
		                </td>
		                <td>
		                    <a href="#edit" class="table-glyphicon" data-toggle="tooltip" data-placement="top"title="Rep">
		                    	<span class="glyphicon glyphicon-user"></span>
		                    </a>
		                    <a href="{{ path('staff-suppliers_edit-supplier', { 'id': entity.getId }) }}" class="table-glyphicon" data-toggle="tooltip" data-placement="top"title="Edit">
		                    	<span class="glyphicon glyphicon-pencil"></span>
		                    </a>
		                    <a href="#print_address" class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Print address label" onclick="printAdd({{ entity.getId() }})" >
		                    	<span class="glyphicon glyphicon-print"></span>
		                    </a>
		                    <a href="tel:{{ entity.getSupplierPhone() }}" class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Call">
		                    	<span class="glyphicon glyphicon-phone"></span>
		                    </a>
		                    <a href="mailto:{{sendMail}}"class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Email">
		                    	<span class="glyphicon glyphicon-envelope"></span>
		                    </a>
		                    <a href="#print_address" class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Delete">
		                    	<span class="glyphicon glyphicon-trash"></span>
		                    </a>
		                </td>
		    		</tr>
		    	{% endfor %}
		    	</tbody>
		    </table>
		</div>

		<div id="suppliers_list">
			{# Create table for suppliers #}
		    <table class="table table-striped text-center">
		        <thead>
		            <tr class="text-center">
		                <th class="text-left">Supplier name</th>
		            </tr>
		        </thead>
		        <tbody>
		        

			    	{% for entity in entities %}
			    		<tr>
			    			<td class="text-left">
			    				<a href="{{ path('staff-suppliers_view-supplier', {'id': entity.getId()}) }}">
			    					{{ entity.getSupplierName() }}
			    				</a>
			    			</td>
			    		</tr>
			    	{% endfor %}
			    </tbody>
			</table>
		</div>

	</div>

<script>$(function () { $("[data-toggle='tooltip']").tooltip(); });</script>
{% endblock %}