{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/product.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'transfer_request_state' %}

{# Set the page title #}
{% block title %}
    {{ entity.transferrequeststatename }} - Transfer Request State
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.transferrequeststatename }} - Transfer Request State           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Transfer Request State details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Transfer_request_state_name</th>
                <td>{{ entity.transferrequeststatename }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_transfer-request-state') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_transfer-request-state_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
