{# src/MilesApart/StaffBundle/Resources/views/HR/view_employees.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'categories' %}
{% set current_page = 'view_brands' %}

{% block page_name %}
   	View brands
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
    <div id="suppliers_table">

    	<h3>{{ entities|length }} Total current brands</h3>

	    {# Create table for suppliers #}
	    <table class="table table-striped text-center">
	        <thead>
	            <tr class="text-center">
	                <th width="20%" class="text-left">Brand name</th>
	                <th width="20%" class="text-center">Logo</th>
	                <th width="10%" class="text-center">Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        

	    	{% for entity in entities %}
	    		<tr>
	    			<td class="text-left">
	    				<a href="{{ path('staff-categories_edit-brand', {'id': entity.getId()}) }}">
	    					{{ entity.brandname }}
	    				</a>
	    			</td>
	    			<td>
	    				{% set photo_path = 'images/brands/'~entity.brandlogoimagepath %}
	    				<img src="{{ photo_path|apply_filter('small_thumb') }}"  />


	    				
	    			</td>
	    			

	                <td>
	                    <a href="{{ path('staff-categories_edit-season', { 'id': entity.getId }) }}" class="table-glyphicon" data-toggle="tooltip" data-placement="top"title="Edit">
	                    	<span class="glyphicon glyphicon-pencil"></span>
	                    </a>
	                  
	                    <a href="#print_address" class="table-glyphicon" data-toggle="tooltip" data-placement="top" title="Delete">
	                    	<span class="glyphicon glyphicon-trash"></span>
	                    </a>
	                </td>
	    		</tr>
	    	{% endfor %}
	    	</tbody>
	    </table>
{% endblock %}