{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/customer.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'customer_wish_list_product' %}

{# Set the page title #}
{% block title %}
    {{ entity.id }} - Customer Wish List Product
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.id }} - Customer Wish List Product           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Customer Wish List Product details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customer wish list product added</th>
                <td>{{ entity.customerwishlistproductadded|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Customer wish list product purchased</th>
                <td>{{ entity.customerwishlistproductpurchased }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer_customer-wish-list-product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer_customer-wish-list-product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
