{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/business.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'competitor_product' %}

{# Set the page title #}
{% block title %}
    Show Competitor Product
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Show Competitor Product           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View competitor details
{% endblock %}

{% block page_content -%}

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Competitor product current price</th>
                <td>{{ entity.competitorproductcurrentprice }}</td>
            </tr>
            <tr>
                <th>Competitor product current price_set</th>
                <td>{{ entity.competitorproductcurrentpriceset|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('business_competitor-product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('business_competitor-product_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
