{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/business.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'business_premises_type' %}

{# Set the page title #}
{% block title %}
    {{ entity.businesspremisestypename }} - Business Premises Type
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.businesspremisestypename }} - Business Premises Type          
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View business premises type details
{% endblock %}

{% block page_content -%}

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Business premises type name</th>
                <td>{{ entity.businesspremisestypename }}</td>
            </tr>
            <tr>
                <th>Business premises is retail</th>
                <td>{{ entity.businesspremisesisretail }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('business_business-premises-type') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('business_business-premises-type_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
