{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/customer.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'customer_interaction_reason' %}

{# Set the page title #}
{% block title %}
    {{ entity.customerinteractionreasonname }} - Customer Interaction Reason
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.customerinteractionreasonname }} - Customer Interaction Reason           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Customer Interaction Reason details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Customer interaction reason name</th>
                <td>{{ entity.customerinteractionreasonname }}</td>
            </tr>
            <tr>
                <th>Customer interaction reason description</th>
                <td>{{ entity.customerinteractionreasondescription }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('customer_customer-interaction-reason') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('customer_customer-interaction-reason_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
