{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/product.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'product_question' %}

{# Set the page title #}
{% block title %}
    Product Question
{% endblock%}

{# Set the page header #}
{% block page_name %}
    Product Question          
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View product question details
{% endblock %}

{% block page_content -%}

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Product question text</th>
                <td>{{ entity.productquestiontext }}</td>
            </tr>
            <tr>
                <th>Product question asked date</th>
                <td>{{ entity.productquestionaskeddate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_product-question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('product_product-question_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
