{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/supplier.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'supplier_discount' %}

{# Set the page title #}
{% block title %}
    {{ entity.id }} - Supplier Discount
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.id }} - Supplier Discount           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Supplier Discount details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Supplier discount percentage</th>
                <td>{{ entity.supplierdiscountpercentage }}</td>
            </tr>
            <tr>
                <th>Supplier discount date valid from</th>
                <td>{{ entity.supplierdiscountdatevalidfrom|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Supplier discount date valid until</th>
                <td>{{ entity.supplierdiscountdatevaliduntil|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('supplier_supplier-discount') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('supplier_supplier-discount_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
