{# src/MilesApart/AdminBundle/Resources/views/Employees/new.html.twig #}
{% extends 'MilesApartAdminBundle::Page/product.html.twig' %}

{#Check if the form has been submitted or not and use the appropriate form template #}
{% if submitted == false %}
    {% form_theme form 'MilesApartAdminBundle:Form:fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% else %}
    {% form_theme form 'MilesApartAdminBundle:Form:submitted_fields.html.twig' 'MilesApartAdminBundle:Form:field_errors.html.twig' %}
{% endif %}

{# Check if the current page is set, if not set to overview #}
{% if current_page is not defined %}
  {% set current_page = 'new_attribute_value_product' %}
{% endif %}

{# Set the title of the page displayed in the browser #}
{% block title %}
	New Attribute Value Product
{% endblock%}

{# Set the header of the page #}
{% block page_name %}
	New Attribute Value Product		
{% endblock %}   

{# Set the introduction of the page #}
{% block page_introduction %}
   	Complete the form below to add a new attribute value product to the system
{% endblock %}

{% block page_content -%}

    {# Create and show the form #}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {# Create and show the new admin user type #}
        <fieldset>
            <legend class="text-muted">Attribute Value Product</legend>
            {{ form_row(form.attribute_value) }}
            {{ form_row(form.product) }}
            
        </fieldset>
        <fieldset>
            {{ form_row(form.submit) }}
        </fieldset>    
        
        {{ form_rest(form) }}
    
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('product_attribute-value-product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
