<!--Create the footer-->
<footer class="footer">
    <div class="row full-width">

        <div class="small-2 columns">
            <a href="{{ path('miles_apart_public_homepage') }}"><img src="{{ asset('images/logos/FooterLogo.png') }}" class="footer_logo" alt="Miles Apart Logo - Small" /></a>

        </div>

        <div class="small-10 columns">
            <div class="row">
        		<div class="small-6 medium-3 columns">
                     <ul class="footer_links side-nav">
                        <li><a href="{{ path('miles_apart_public_help_and_support') }}">Help &amp; Support</a></li>
                        <li><a href="{{ path('miles_apart_public_faqs') }}">FAQ Page</a></li>
                        <li><a href="{{ path('miles_apart_public_contact_us') }}">Contact Us</a></li>
                        <li><a href="{{ path('miles_apart_public_leave_feedback') }}">Leave Feedback</a></li>
                        <li><a href="{{ path('miles_apart_public_sitemap') }}">Sitemap</a></li>
                    </ul>
                </div>

                <div class="small-6 medium-3 columns">
                     <ul class="footer_links side-nav">
                        <li><a href="{{ path('miles_apart_public_terms_and_conditions') }}">Terms &amp; Conditions</a></li>
                        <li><a href="{{ path('miles_apart_public_privacy_and_cookie_policy') }}">Privacy &amp; Cookie Policy</a></li>
                        <li><a href="{{ path('miles_apart_public_delivery_information') }}">Delivery Information</a></li>
                        <li><a href="{{ path('miles_apart_public_returns_policy') }}">Returns Policy</a></li>
                        <li><a href="{{ path('miles_apart_public_accessibility') }}">Accessibility</a></li>
                    </ul>
                </div>

                <div class="small-6 medium-3 columns">
                     <ul class="footer_links side-nav">
                        <li><a href="{{ path('miles_apart_public_about_us') }}">Your Account</a></li>
                        <li><a href="{{ path('miles_apart_public_delivery_information') }}">Update Details</a></li>
                        <li><a href="{{ path('miles_apart_public_our_stores') }}">Previous Orders</a></li>
                    </ul>
                    <div class="show-for-large-up">
                        <a href="https://www.braintreegateway.com/merchants/6rtb49mww88mnjgd/verified" target="_blank">
                            <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" class="medium-12 columns" height ="44px" border="0"/>
                        </a>
                    </div>
                   
                </div>

                <div class="small-6 medium-3 columns">
                    <ul class="footer_links side-nav">
                        <li><a href="{{ path('miles_apart_public_about_us') }}">About Us</a></li>
                        <li><a href="{{ path('miles_apart_public_our_stores') }}">Our Stores</a></li>
                        <li><a href="{{ path('miles_apart_public_our_staff') }}">Our Staff</a></li>
                    </ul>

                </div>
               
            </div>

            <div class="row">
                <div class="hide-for-large-up small-12 columns">
                    <a href="https://www.braintreegateway.com/merchants/6rtb49mww88mnjgd/verified" target="_blank">
                        <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" style="margin:2rem 0rem 0.7rem 0.8rem" width="250px" height ="35px" border="0"/>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">               
                    <p id="copyright">&copy; Miles Apart {{ 'now'|date('Y') }} | Designed & Developed by Minty Web Design</p>
                </div>
            </div>
        </div> 
    </div>
</footer>