<div class="row">
    <div class="large-12 columns">
        <div class="homepage_header"></div>
        <h3 class="text-center homepage_header_text"><span>Our Stores</span></h3>
    </div>
    

    <div class="medium-4 columns homepage_store text-center">
        <img src="{{ asset('images/web/shops/26_salisbury_street_opt.jpg') }}" class="large-12"/>
        <address class="homepage_store_address">
            <h4>26 Salisbury Street, Amesbury</h4>
            Wiltshire<br />
            SP4 7HD<br />
        </address>
        <a class="store_map_link button tiny" href="{{ path('miles_apart_public_our_stores') }}">See on a map</a>
        <address>
            <strong class="phone">Phone:</strong>
            <a href="tel:01980626880">01980 626880</a><br />
            <strong class="phone">Email:</strong>
            <a href="mailto:26amesbury@miles-apart.com">26amesbury@miles-apart.com</a>
        </address>
        <p>The largest of our stores opened in 1999 when Zebedee's Butchers closed their doors. This store focuses on Toys, Homewares, Kitchenware, Hardware, Gardening and our ever popular plastic storage boxes.</p>
    </div>

    <div class="medium-4 columns homepage_store text-center">
        <img src="{{ asset('images/web/shops/28_salisbury_street_opt.jpg') }}" class="large-12" />
        <address class="homepage_store_address">
            <h4>28 Salisbury Street, Amesbury</h4>
            Wiltshire<br />
            SP4 7HD<br />
        </address>
       <a class="store_map_link button tiny" href="{{ path('miles_apart_public_our_stores') }}">See on a map</a>
        <address class="phone">
            <strong class="phone">Phone:</strong>
            <a href="tel:01980626060">01980 626060</a><br />
            <strong class="phone">Email:</strong>
            <a href="mailto:28amesbury@miles-apart.com">28amesbury@miles-apart.com</a>
        </address>
        <p>The first of our stores to open, we have been trading here since 1991. The store now has a huge range of greetings cards, stationery, craft, gifts & wrapping, scale models, puzzles and partyware. </p>
    </div>
                   
    <div class="medium-4 columns homepage_store text-center">
        <img src="{{ asset('images/web/shops/westbury_shop_image_opt.jpg') }}" class="large-12"/>
        <address class="homepage_store_address">
            <h4>15 High Street, Westbury</h4>
            
            Wiltshire<br />
            BA13 3BN<br />
        </address>
        <a class="store_map_link button tiny" href="{{ path('miles_apart_public_our_stores') }}#westbury">See on a map</a>
        <address class="phone">
            <strong class="phone">Phone:</strong>
            <a href="tel:01373822225">01373 822225</a><br/>
            <strong class="phone">Email:</strong>
            <a href="mailto:westbury@miles-apart.com">westbury@miles-apart.com</a>
        </address>
        <p>Our store in Westbury opened in 2008 and, though smaller than our other two stores, manages to pack in the best of both Amesbury shops into a small space.</p>
    </div>

</div>