<div id="owl-slider" class="owl-carousel">

    <div class="item">
    	
    	<a href="{{ path('miles_apart_public_shop', {'main_category': 'arts-craft-knit' }) }}">
    		<img src="{{ asset('images/homepage/craft.jpg') }}" alt="Craft">
    	</a>
        <a href="{{ path('miles_apart_public_shop', {'main_category': 'arts-craft-knit' }) }}">
            <h2 class="owl_overlay_text">Crafting Essentials</h2>
        </a>
    </div>
    <div class="item">
        
        <a href="{{ path('miles_apart_public_shop', {'main_category': 'home-garden', 'sub_category': 'kitchen' }) }}">
            <img src="{{ asset('images/homepage/kitchen.jpg') }}" alt="Kitchen">
        </a>
        <a href="{{ path('miles_apart_public_shop', {'main_category': 'home-garden', 'sub_category': 'kitchen' }) }}">
            <h2 class="owl_overlay_text">Kitchenware</h2>
        </a>
    </div>
    <div class="item">
        
        <a href="{{ path('miles_apart_public_shop', {'main_category': 'arts-craft-knit', 'sub_category': 'wool' }) }}">
            <img src="{{ asset('images/homepage/wool.jpg') }}" alt="Wool">
        </a>
        <a href="{{ path('miles_apart_public_shop', {'main_category': 'arts-craft-knit', 'sub_category': 'wool' }) }}">
            <h2 class="owl_overlay_text">Wool &amp; Habidashery</h2>
        </a>
    </div>
</div>
                              		