{# src/MilesApart/StaffBundle/Resources/views/TransferRequests/request_products.html.twig #}
{% extends 'MilesApartPublicBundle::email_layout.html.twig' %}

{% block email_title %}
	Delivery {{ supplier_delivery.supplierdeliverynotenumber }} Shortages
{% endblock %}

{% block email_header %}
	Delivery {{ supplier_delivery.supplierdeliverynotenumber }} Shortages
{% endblock %}

{% block email_intro %}
	We have received delivery from {{ supplier_delivery.supplier.suppliername }} at <b>{{ supplier_delivery.getDeliveredDatetime|date("g:ia \\o\\n jS F Y") }}</b> but the following products were missing.
{% endblock %}

{% block email_content %}
	<table class="row">
		<tr>
			<td class="columns first last">
				<p>Please could you arrange for a credit to be raised on our account for the items listed below.</p>
				<p>If there are any issues please contact us on 01980 626880.</p>
				<table class="spacer">
					<tbody>
					<tr>
						<th height="20px" style="font-size:20px;line-height:20px;">&#xA0;</th>
					</tr>
					</tbody>
				</table>

				<table class="row">
					<tr>
						<th class="small-12 large-12 columns first last">
							<table>
								<tr>
									<th style="border-bottom:2px solid #008CBA;">

									</th>
									<th class="expander"></th>
								</tr>
							</table>
						</th>
					</tr>
				</table>

				<table class="spacer">
					<tbody>
					<tr>
						<th height="20px" style="font-size:20px;line-height:20px;">&#xA0;</th>
					</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="5" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td valign="top" width="50%">
								<table  border="0" cellpadding="2" cellspacing="0">
									<tr>
										<td valign="top">
											<font size="1">Supplier:</font>
										</td>
									</tr>
									<tr>
										<td>
											{{ supplier_delivery.supplier.suppliername }}
										</td>
									</tr>
									<tr>
										<td height="8"></td>
									</tr>
									<tr>
										<td>
											<font size="1">Account Number:</font>
										</td>
									</tr>
									<tr>
										<td>
											{{ supplier_delivery.supplier.supplieraccountnumber }}
										</td>
									</tr>
									<tr>
										<td height="8"></td>
									</tr>
									<tr>
										<td>
											<font size="1">Delivery Note No:</font>
										</td>
									</tr>
									<tr>
										<td>
											{{ supplier_delivery.supplierdeliverynotenumber }}
										</td>
									</tr>

								</table>
							</td>

							</td>
							<td valign="top" width="50%">
								<table border="0" cellpadding="2" cellspacing="0">
									<tr>
										<td valign="top">
											<font size="1">Credit To:</font>
										</td>
									</tr>
									<tr>
										<td >
											Miles Apart
										</td>
									</tr>
									<tr>
										<td>
											Westcroft
										</td>
									</tr>
									<tr>
										<td>
											Boscombe Village
										</td>
									</tr>
									<tr>
										<td>
											Salisbury
										</td>
									</tr>
									<tr>
										<td>
											Wiltshire
										</td>
									</tr>
									<tr>
										<td>
											SP4 0AB
										</td>
									</tr>
								</table>
							</td>

						</tr>
						<tr>
							<td height="8"></td>
						</tr>


					</tbody>
				</table>

				<table class="spacer">
					<tbody>
					<tr>
						<th height="20px" style="font-size:20px;line-height:20px;">&#xA0;</th>
					</tr>
					</tbody>
				</table>

				<table class="row">
					<tr>
						<th class="small-12 large-12 columns first last">
							<table>
								<tr>
									<th style="border-bottom:2px solid #008CBA;">

									</th>
									<th class="expander"></th>
								</tr>
							</table>
						</th>
					</tr>
				</table>

				<table class="spacer">
					<tbody>
					<tr>
						<th height="20px" style="font-size:20px;line-height:20px;">&#xA0;</th>
					</tr>
					</tbody>
				</table>

				{# Make the table #}
				<table border="0" cellpadding="8" cellspacing="0">
					<thead>
						<tr style="background-color:#292929;color:#fff;padding:5px 3px 5px 3px">
							<th style="padding:5px 3px 5px 6px;color:#fff;font-size:13px" width="5%" align="center">Code</th>
							<th style="padding:5px 3px 5px 6px;color:#fff;font-size:13px" width="50%" align="left">Product name</th>
							<th style="padding:5px 3px 5px 6px;color:#fff;font-size:13px" width="15%" align="center">Undelivered Unit Qty</th>
							<th style="padding:5px 3px 5px 6px;color:#fff;font-size:13px" width="15%" align="center">Undelivered Inner Qty</th>
							<th style="padding:5px 3px 5px 6px;color:#fff;font-size:13px" width="15%" align="center">Undelivered Outers Qty</th>
						</tr>
					</thead>
					<tbody>

						{# For each purchase order product in purchase order print out the row #}
						{% for undelivered_product in undelivered_array %}
							{% if loop.index is odd %}
								<tr id="product_row_{{ undelivered_product.id }}" style="background-color:#ebebeb;">
							{% else %}
								<tr id="product_row_{{ undelivered_product.id }}" style="background-color:#ffffff;">
							{% endif %}
								<td style="padding:5px 3px 5px 6px;font-size:13px" align="center">
									{{ undelivered_product.product.productsuppliercode }}
								</td>
								<td style="padding:5px 3px 5px 6px;font-size:13px" align="left">
									{{ undelivered_product.product.productname }}
								</td>
								<td style="padding:5px 3px 5px 6px;font-size:13px" align="center">
									{{ undelivered_product.getSupplierDeliveryQtyRemaining }}
								</td>
								<td style="padding:5px 3px 5px 6px;font-size:13px" align="center">
									{{ undelivered_product.getSupplierDeliveryProductInnersRemaining }}
								</td>
								<td style="padding:5px 3px 5px 6px;font-size:13px" align="center">
									{{ undelivered_product.getSupplierDeliveryProductOutersRemaining }}
								</td>

							</tr>
						{% endfor %}

						{# Create the totals row #}
						<tr style="background-color:#EBEBEB">

						</tr>

				{# End the table #}
					</tbody>
				</table>

				<table class="spacer">
					<tbody>
					<tr>
						<th height="20px" style="font-size:20px;line-height:20px;">&#xA0;</th>
					</tr>
					</tbody>
				</table>

				<table class="row">
					<tr>
						<th class="small-12 large-12 columns first last">
							<table>
								<tr>
									<th style="border-bottom:2px solid #008CBA;">

									</th>
									<th class="expander"></th>
								</tr>
							</table>
						</th>
					</tr>
				</table>



				<table>
					<tr>
					<td height="8"></td>
					</tr>

					<tr>
						<td>
							<table>
								<tr>
									<td width="100%">

										<p>Many thanks.</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

{% endblock %}