{# src/MilesApart/StaffBundle/Resources/views/Business/new_premises.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}


{#Set active page for interface highlighting #}
{% set active_page = 'goods_in' %}
{% set current_page = 'view_deliveries' %}

{% block page_name %}
    View deliveries
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}

    {# Undelivered deliveries #}
    <h2>Undelivered</h2>

    <table class="table table-striped small" id="existing_supplier_deliveries">
        <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="15%">Supplier name</th>
                <th width="15%">Carrier</th>
                <th width="15%">Contact</th>
                <th width="10%">Booked In Date</th>
                <th width="10%" class="hidden-xs">Morning</th>
                <th width="10%" class="hidden-xs">Delivery location</th>
                <th width="10%" class="hidden-xs">Notes</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {# Iterate over the deliveries #}
            {% for delivery in supplier_deliveries %} 
        
        
                {% if delivery.delivereddatetime == null %}
        
                    <tr>
                        <td>
                            {{ delivery.getSupplier.getId }}
                        </td>
                        <td>
                            {{ delivery.getSupplier.getSupplierName }}
                        </td>
                        <td>
                            {{ delivery.getLogisticsCompany.getLogisticsCompanyName }}
                        </td>
                        <td>
                            {{ delivery.getContactName }} - {{ delivery.getContactPhoneNumber }}
                        </td>
                        <td>
                            {{ delivery.getBookedInDate|date('d M Y') }}
                        </td>
                        <td class="hidden-xs">
                            {% if delivery.getBookedInBefore12 == true %}
                                AM
                            {% else %}
                                All day
                            {% endif %}
                        </td>
                        <td class="hidden-xs">
                            {{ delivery.getBusinessPremises.getBusinessPremisesName }}
                        </td>
                        <td class="hidden-xs">
                            {{ delivery.getSupplierDeliveryNotes }}
                            {% if delivery.getBookedInDate|date('Y-m-d') < "now"|date('Y-m-d') %}
                               <button type="button" class="btn btn-danger btn-xs" disabled="disabled">Late</button>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('staff-goods-in_process-delivery', { 'supplier_delivery_id': delivery.getId }) }}" class="btn btn-xs btn-primary">Process</a>
                        </td>
                        
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
        


    {# Delivered deliveries #}
    <h2>Delivered deliveries</h2>
    {# Iterate over the deliveries #}
    <table class="table table-striped small" id="existing_supplier_deliveries">
        <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="15%">Supplier name</th>
                <th width="15%">Carrier</th>
                <th width="15%">Contact</th>
                <th width="15%">Booked In Date</th>
                <th width="10%" class="hidden-xs">Morning</th>
                <th width="10%" class="hidden-xs">Delivery location</th>
                <th width="10%" class="hidden-xs">Notes</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {# Iterate over the deliveries #}
            {% for delivery in supplier_deliveries %} 
        
        
                {% if delivery.delivereddatetime != null %}
        
                    <tr>
                        <td>
                            {{ delivery.getSupplier.getId }}
                        </td>
                        <td>
                            {{ delivery.getSupplier.getSupplierName }}
                        </td>
                        <td>
                            {{ delivery.getLogisticsCompany.getLogisticsCompanyName }}
                        </td>
                        <td>
                            {{ delivery.getContactName }} - {{ delivery.getContactPhoneNumber }}
                        </td>
                        <td>
                            {{ delivery.getBookedInDate|date('d M Y') }}
                        </td>
                        <td class="hidden-xs">
                            {% if delivery.getBookedInBefore12 == true %}
                                AM
                            {% else %}
                                All day
                            {% endif %}
                        </td>
                        <td class="hidden-xs">
                            {{ delivery.getBusinessPremises.getBusinessPremisesName }}
                        </td>
                        <td class="hidden-xs">
                             {{ delivery.getSupplierDeliveryNotes }}
                        </td>
                        <td>
                            <a href="{{ path('staff-goods-in_process-delivery', { 'supplier_delivery_id': delivery.getId }) }}" class="btn btn-xs btn-primary">Process</a>
                        </td>
                        
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}