{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/procurement.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'purchase_order_state' %}

{# Set the page title #}
{% block title %}
    {{ entity.purchaseorderstate }} - Purchase Order State
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.purchaseorderstate }} - Purchase Order State           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Purchase Order State details
{% endblock %}

{% block page_content -%}

    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Purchase order state</th>
                <td>{{ entity.purchaseorderstate }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('procurement_purchase-order-state') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('procurement_purchase-order-state_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
