{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/campaign.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'marketing_email_component' %}

{# Set the page title #}
{% block title %}
    {{ entity.marketingemailcomponentname }} - Marketing Email Component
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.marketingemailcomponentname }} - Marketing Email Component           
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View Marketing Email Component details
{% endblock %}

{% block page_content -%}


    <table class=\"table table-hover table-bordered table-striped main_content_table show_table\">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Marketing email component name</th>
                <td>{{ entity.marketingemailcomponentname }}</td>
            </tr>
            <tr>
                <th>Marketing email component content</th>
                <td>{{ entity.marketingemailcomponentcontent }}</td>
            </tr>
            <tr>
                <th>Marketing email component date created</th>
                <td>{{ entity.marketingemailcomponentdatecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Marketing email component date modified</th>
                <td>{{ entity.marketingemailcomponentdatemodified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('campaign_marketing-email-component') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('campaign_marketing-email-component_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
