{# src/MilesApart/StaffBundle/Resources/views/Page/index.html.twig #}
{% extends 'MilesApartStaffBundle::layout.html.twig' %}

{#Set active page for interface highlighting #}
{% set active_page = 'index' %}
{% set current_page = 'index' %}

{% block sidebar %}
    <h2>Quick Links</h2>
{% endblock %}

{# Set the dynamic content for this template #}
{% block page_content %}
    

    <div class="row">
    	<div class="col-md-4 col-xs-12 margin_bottom">
	    	<a href="{{ path('miles_apart_staff_price_check') }}" class="btn btn-primary btn-lg col-xs-12" role="button">Price Check</a>
	    </div>
	    <div class="col-md-4 col-sm-12 margin_bottom">
	    	<a href="{{ path('miles_apart_staff_record_sale') }}" class="btn btn-primary btn-lg col-xs-12" role="button">Record Sale</a>
	    </div>
	    <div class="col-md-4 col-sm-12 margin_bottom">
	    	<a href="{{ path('miles_apart_staff_record_return') }}" class="btn btn-primary btn-lg col-xs-12" role="button">Record Return</a>
	    </div>
	    
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<div class="row">
					<div class="col-xs-8">
						<h4>Outstanding orders - <span id="outstanding_orders_total">{{ outstanding_orders|length }}</span></h4>
					</div>
					<div class="col-xs-4">
						<!-- Single button -->
						<div class="btn-group col-md-12">
							<button type="button" class="btn btn-success btn-xs dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Action <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a  target="_blank" href="{{ path('staff-pickpack_print-packing-slips') }}">Print packing slips</a></li>
								<li><a  target="_blank" href="{{ path('staff-pickpack_print-invoices') }}">Print invoices</a></li>
							</ul>
						</div>
					</div>
				</div>
				<table class="table table-striped text-center">
					<thead>
					<tr class="text-center">
						<th class="text-left">Order</th>
						<th class="text-center">Date Placed</th>
						<th class="text-center">State</th>
						<th class="text-center">Total</th>
					</tr>
					</thead>
					<tbody>

                    {% for order in outstanding_orders %}
						<tr id ="order_row_{{ order.getId }}">
							<td class="text-left">

								{#Check if order is overdue to be posted #}
								{%  if  order.getIsDispatchLate == 1 %}
									{% set class = 'btn-success' %}
								{%  elseif  order.getIsDispatchLate == 2 %}
                                        {% set class = 'btn-warning' %}
								{%  else %}
                                        {% set class = 'btn-danger' %}
								{% endif %}

								{# Use class for button #}
								<a href="{{ path('staff-pickpack_show-order', {'customer_order_id': order.getId()}) }}" class="{{ class }} btn btn-xs">
									{{ order.getId }}
								</a>

							</td>
							<td class="text-center">
                                {{ order.getCustomerOrderDateCreated|date('d-m-Y') }}
							</td>
							<td class="text-center">
                                {{ order.getCustomerOrderState.getCustomerOrderState }}
							</td>
							<td class="text-center">

								£{{ order.getCustomerOrderTotalPricePaid }}


							</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-xs-12 col-md-4">
			<div class="well">
				<h4>Unanswered questions - <span id="unanswered_questions_total">{{ unanswered_questions|length }}</span></h4>
				<table class="table table-striped text-center">
			        <thead>
			            <tr class="text-center">
			                <th class="text-left">Question</th>
			                <th class="text-center">Date Asked</th>
			                <th class="text-center">Ans</th>
			            </tr>
			        </thead>
		        	<tbody>
		       
						{% for question in unanswered_questions %}
							<tr id ="question_row_{{ question.getId }}">
				    			<td class="text-left">
									{{ question.getProductQuestionText }}
								</td>
								<td class="text-center">
									{{ question.getProductQuestionDateCreated|date('d/m/y') }}
								</td>
								<td class="text-center">
									<a href="#" onclick="showAnswerQuestionModal({{ question.getId }})" class="btn btn-default">
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
									</a>
									
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
		</div>
	
		<div class="col-xs-12 col-md-4">
			<div class="well">
				<h4>Reviews to approve - <span id="unapproved_reviews_total">{{ unapproved_reviews|length }}</span></h4>
				<table class="table table-striped text-center">
			        <thead>
			            <tr class="text-center">
			                <th class="text-left">Review</th>
			                <th class="text-center">Date Reviewed</th>
			                <th class="text-center">App</th>
			            </tr>
			        </thead>
		        	<tbody>
		        		{% for review in unapproved_reviews %}
							<tr id="review_row_{{review.getId }}">
				    			<td class="text-left">
									{{ review.getProductReviewTitle }}
								</td>
								<td class="text-center">
									{{ review.getProductReviewDateCreated|date('d/m/y') }}
								</td>
								<td class="text-center">
									<a href="#" onclick="showApproveReviewModal({{ review.getId }})" class="btn btn-default">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
									</a>
									
								</td>
							</tr>
						{% endfor %}
		       
						
					</tbody>
				</table>
				
			</div>
		</div>
	</div>

{% endblock %}