{# src/MilesApart/AdminBundle/Resources/views/Employees/show.html.twig #}
{% extends 'MilesApartAdminBundle::Page/webmanagement.html.twig' %}

{# Set  current page for interface highlighting #}
{% set current_page = 'admin_user_type' %}

{# Set the page title #}
{% block title %}
    {{ entity.adminusertypename }} - Admin User Type
{% endblock%}

{# Set the page header #}
{% block page_name %}
    {{ entity.adminusertypename }} - Admin User Type        
{% endblock %}   

{# Set the page sub header #}
{% block page_introduction %}
    View admin user type details
{% endblock %}

{% block page_content -%}

    

    <table class="table table-hover table-bordered table-striped main_content_table show_table">
        <tbody>
            <tr>
                <th width=200>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Admin user  type name</th>
                <td>{{ entity.adminusertypename }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('website-management_admin-user-type') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('website-management_admin-user-type_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
